
<div class='links'>
      <%= link_to_add_association (tag.span '', class: %w( icon-plus )   ), f, :todoitems %>
	  <%= link_to  (tag.span '', class: %w( icon-pencil2 )), "#" ,onclick:"return false;" %>
	  <%= render "color_picker" %>
    </div>