<div class='nested-fields'>
    


	
	<%= f.check_box :done%>
	<%= f.label :done, :' '%>
	<%= f.text_area :description %>
		
		
		
	
	
	
	
	
	<%= link_to_remove_association tag("span",  class: "icon-cross"), f  %> 
      
	 
	
	
	</div>