<!DOCTYPE html>
<ul class="nav nav-pills">
  <li class="nav-item">
  	<%= button_tag '',  value: 'done',  class: "icon-checkmark collection"  %>
    
  </li>
  
</ul>
<div class ="container">
<div id="new">

<%= render "new"%>
</div>

<h4>Pined todolists</h4>
<div id="list">

<div class='pined'>

<%= render partial: "index" ,locals: {columns: @list[1]}%>	
</div>
<br/>
<div class="unpined">
<%= render partial: "index" ,locals: {columns: @list[0]}%>
</div>
</div>

</div>



